<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lorem Ipsum</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= render 'layouts/metatags'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation'%>
    <div class="container center">
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
